<body>
    <h1>Add Lecturer</h1>
<form action="/addLectureres" method="POST">
    <label>Lecturer ID:</label>
<input type="text" name="_id"><br>
    <label>Lecturer Name</label>
<input type="text" name="name"><br>
    <label>Lecturer Department</label>
<input type="text" name="dept"><br>
<form action="http://localhost:3004/ListLecturers">
    <input type="submit" value="OK">
</form>
</form>

<form action="http://localhost:3004/">
    <input type="submit" value="Home" />
</form>
</body>