<body>
    <h1>Add Student</h1>
<form action="/addStudent" method="POST">
    <label>Student ID:</label>
<input type="text" name="sid"><br>
    <label>Student Name</label>
<input type="text" name="name"><br>
    <label>Student GPA</label>
<input type="text" name="gpa"><br>
 
    <input type="submit" value="OK">
</form>

<form action="http://localhost:3004/">
    <input type="submit" value="Home" />
</form>
</body>