<body>

    <h1>Edit Module</h1>
    
<form action="/addStudent" method="POST">
    <label>Module ID:</label>
<input type="text" name="mid"><br>
    <label>Edit Name</label>
<input type="text" name="name"><br>
    <label>Edit Credits</label>
<input type="text" name="credits"><br>
 
    <input type="submit" value="OK">
</form>

<form action="http://localhost:3004/">
    <input type="submit" value="Home" />
</form>
</body>